* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #302f2f;
  height: 100vh;
}
.player-score,
.computer-score {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 1.2rem;
  margin-top: 3rem;
}
.scores-container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
}
.computer-score {
  margin-left: 8.5rem;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
  border: 5px solid white;
}
